version: '3'

services:
  mysql-compose:
    image: mysql:5.7
    environment:
      # Database name
      MYSQL_DATABASE: 'aodmoneydb'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      # Exposed ports ( local ):( container )
      - "3306:3306"
      # Where our data will be persisted
    expose:
      # Opens port 3306 on the container
      - '3306'
    volumes:
      - /home/docker/volumes/mysql/var/lib/mysql/data
